<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="description" content="test-frontend" />
    <title>test frontend</title>
    <link rel="stylesheet" href="/vendors/normalize-css/normalize.min.css" />
  </head>

  <body class="body">
      <nav class="main-nav">
          <a class="main-nav__link" href="index.html">
            <svg class="main-nav__img" width="16" height="16" fill="none">
              <path  d="M14.5 8H1M7.8 15L1 8l6.8-7" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span class="visually-hidden">Вернуться назад</span>
          </a>
          <h4 class="main-nav__title">Milk & Cheese</h4>
      </nav>

    <main>
      <article class="product">

        <div class="product__quality">
          <div class="product__wrapper">
            <img src="/img/Group-556.svg">
            <img src="/img/Group-557.svg">
            <img src="/img/Group-558.svg">
          </div>
          <img  class="product__favorite" src="/img/favorites.svg">
        </div>

        <div class="product__image">
          <img src="/img/big-milk.png" width="240" height="190">
        </div>

        <span class="product__info">just Milk Semi-Skimmed 6 x 1L</span>
        <div class="product__price">1 pc /£1.59</div>

        <div class="product__wrapper-btn">
          <span class="product__price-2">£1.59</span>
          <div class="product__controls">
            <button class="order-list__delete-btn" type="button"></button>
            <span class="order-list__value">2</span>
            <button class="order-list__add-btn" type="button">+</button>
          </div>
        </div>

        <ul class="product__options">
          <li class="product__option"><a class="product__link" href="#">Nutrition</a></li>
          <li class="product__option"><a class="product__link" href="#">Ingredients</a></li>
          <li class="product__option"><a class="product__link" href="#">Other</a></li>
        </ul>

      </article>

      <section class="about">
        <div class="about__nutrition">
            <h4 class="about__title-nutrition">Nutrition</h4>
            <div class="about__nutrition-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultrices at egestas tempus
              duis egestas semper dolor morbi purus. Lorem ipsum dolor sit amet, consectetur adipiscing
              elit. Ultrices at egestas tempus duis egestas semper dolor morbi purus.
            </div>
            <ul class="about__description-2">
              <li class="about__quality-item">Lorem ipsum dolor sit amet</li>
              <li class="about__quality-item">Lorem ipsum dolor sit amet</li>
              <li class="about__quality-item">Lorem ipsum dolor sit amet</li>
              <li class="about__quality-item">Lorem ipsum dolor sit amet</li>
            </ul>

            <div class="about__parametrs">
              <div class="about__parametr">
                <span class="about__parametr-one">28</span>
                <span class="">Kkal</span>
                <span class="about__parametr-three">4$ Ri Low</span>
              </div>
              <div class="about__parametr">
                <span class="about__parametr-one">28</span>
                <span class="">Kkal</span>
                <span class="about__parametr-three">4$ Ri Low</span>
              </div>
              <div class="about__parametr">
                <span class="about__parametr-one">28</span>
                <span class="">Kkal</span>
                <span class="about__parametr-three">4$ Ri Low</span>
              </div>
              <div class="about__parametr">
                <span class="about__parametr-one">28</span>
                <span class="">Kkal</span>
                <span class="about__parametr-three">4$ Ri Low</span>
              </div>
            </div>
          </div>

          <div class="about__ingridients">
            <h4 class="about__title-ingredients">Ingredients</h4>
            <div class="about__ingridients-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Ultrices at egestas tempus duis egestas semper dolor morbi purus.
            </div>
          </div>
          <div class="about__other">
            <h4 class="about__other-title">Other</h4>
            <ul class="about__list">
              <li class="about__other-item"><span class="about__other-subtitle">Страна производства</span><span>Россия</span></li>
              <li class="about__other-item"><span class="about__other-subtitle">Состав</span><span>цельное молоко</span></li>
              <li class="about__other-item"><span class="about__other-subtitle">Срок годности</span><span>12 дн.</span></li>
              <li class="about__other-item"><span class="about__other-subtitle">Изготовитель</span><span>ОАО"Компания Юнимилк"</span></li>
              <li class="about__other-item"><span class="about__other-subtitle">Жирность</span><span>4.5%</span></li>
              <li class="about__other-item"><span class="about__other-subtitle">Содержание лактозы</span><span>обычное (более 1%)</span></li>
              <li class="about__other-item"><span class="about__other-subtitle">Витаминизированное обо</span><span>нет</span></li>
            </ul>

      </section>
    </main>

  </body>
</html>
